<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wtt</title>
    <link rel="stylesheet/less" type="text/css" href="styles/root.less">
    <link rel="stylesheet/less" type="text/css" href="styles/index.less">
</head>
<body>
    <script src="javascript/utils.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/less@4"></script>
    <header class="fs">
        <h1>Supercharge your Windows Terminal configuration file.</h1>
        <h2>npx wintt <span id="command"></span></h2>
        <div class="terminal">

        </div>
    </header>
    <script src="javascript/command.js" type="text/javascript"></script>
</body>
</html>